.boardRow {
	display: flex;
	margin-bottom: 1px;
	height: 7vmax;
	max-height: 3.8rem;

	&:after {
		clear: both;
		content: "";
		display: table;
	}

	&.invalidGuess {
		animation: horizontal-shaking 0.35s;
		animation-iteration-count: 2;
	}
}

@keyframes horizontal-shaking {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}