.offcanvasHints {
	.hintRow {
		line-height: 30px;

		.hintLabel {
			color: #e9ecef;
		}
	}
}

.btnRevealHint {
	padding: 0.2rem 0.3rem;
	font-size: small;
}

.hintRow.hintLettersRow {
	line-height: 40px;

	.hintValue {
		display: grid;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
		grid-auto-columns: max-content;
		grid-template-columns: repeat(auto-fill, minmax(66px, 1fr));
		line-height: 27px;

		.revealedLetter {
			text-align: center;
		}
	}
}