.offcanvasHints {
	.hintRow {
		line-height: 30px;

		.hintLabel {
			font-weight: bold;
		}
	}
}

.btnRevealHint {
	padding: 0.2rem 0.3rem;
	font-size: small;
}

.hintRow.hintLettersRow {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	line-height: 40px;

	.hintValue {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		line-height: 27px;

		.revealedLetter {
			width: 65px;
			text-align: center;
		}
	}
}