.offcanvasHints {
	.hintRow {
		line-height: 33.5px;

		.hintLabel {
			color: #e9ecef;
		}
	}
}

.btnRevealHint {
	font-size: small;
}

.hintRow.hintLettersRow {
	.hintValue {
		display: grid;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
		grid-auto-columns: max-content;
		grid-template-columns: repeat(auto-fill, minmax(66px, 1fr));

		.btnRevealHint {
			padding-left: 0.3rem;
			padding-right: 0.3rem;
		}

		.revealedLetter {
			text-align: center;
		}
	}
}