.offcanvas-hints {
  .hint-value {
    line-height: 40px;
  }
}

.btn-reveal-hint {
  padding: 0.2rem 0.3rem;
  font-size: small;
}

.hint-row.hint-letters-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 40px;

    .hint-value {
        display: flex;
        align-items: center;

        .revealed-letter {
            width: 65px;
            text-align: center;
            line-height: 27px;
        }
    }
}