$body-bg: #202327;
$body-color: rgb(204, 204, 204);

/* Import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #202327;
  color: rgb(204, 204, 204);
}

.navbar {
  margin: -20px -20px 20px -20px;

  &.navbar-dark.bg-dark {
    background-color: #151618 !important;
  }
}

.offcanvas {
  background: rgb(46 49 56);

  .offcanvas-header {
    background: #17191c;

    .btn-close {
      filter: invert(1);
    }
  }
}

ol,
ul {
  padding-left: 30px;
}

button {
  padding: 3px 5px;
  border-radius: 3px;
  border-width: 1px;
}

.flex-row-break {
  flex-basis: 100%;
  margin-top: 5px;
}