body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #202327;
  color: rgb(204, 204, 204);
}

ol, ul {
  padding-left: 30px;
}

.game-board {
  height: min-content;
  padding: 25px;
  border: 5px outset;
  border-radius: 5px;
  background: rgb(67, 69, 77);
  background: rgb(46 49 56);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #202327;
  color: lightgray;
  border: 1px solid #999;
  float: left;
  font-size: 38px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  text-transform: uppercase;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.square-highlighted-green {
  background: #00851378;
}

.square-highlighted-yellow {
  background: #ffe0004f;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.game-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.game-status {
  font-size: large;
  font-weight: bold;
}

.game-status, .move-history-header {
  text-align: center;
}

.move-history {
  margin-top: 15px;
  border: 5px inset;
  padding: 10px 30px;
}

.move-history-header {
  font-size: medium;
}

.move-history-header > button {
  margin-left: 10px;
}

.move-history-location {
  margin-left: 5px;
}

button {
  padding: 3px 5px;
  border-radius: 3px;
  border-width: 1px;
}

.current-move {
  background: #bdbdbd;
}

.flex-row-break {
  flex-basis: 100%;
  margin-top: 5px;
}